<div class="title-contents">
  <div class="header-logo m-3">
  <%= link_to root_path, class: "text-decoration-none link-dark" do %>
    <h1>Koogi<br>mart</h1>
  <% end %>
  </div>
</div>
<div class="my-page-main p-2">
  <div class="order-input-area my-5 mx-auto p-4">
    <div class="container">
      <h4 class="mb-3">オーダー見積もり作成</h4>
      <%= form_with model: @estimate, url: "/orders/#{@order.id}/rooms/#{@room.id}/estimates", method: :post, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="row g-3">
          <div class="col-sm-12">
            <label class="form-label">オーダータイトル</label>
            <h5><%= @room.order.order_name %></h5>
          </div>
          <div class="col-sm-12">
            <label class="form-label">金額<span class="text-muted">(必須・￥)</span></label>
            <%= f.text_field :estimate_price, class: "form-control" %>
          </div>
          <div class="creator-short-text col-12 mb-3">
            <label class="form-label">特記事項<span class="text-muted">(任意)</span></label>
            <%= f.text_area :estimate_text, class: "form-control" %>
          </div>
          <div class="col-md-12">
            <label for="formFile" class="form-label">画像<span class="text-muted">(任意・１枚まで)</span></label>
            <%= f.file_field :estimate_image, class:"form-control" %>
        </div>
        <hr class="my-4">
        <%= f.submit "Confirm", class:"w-100 btn btn-primary btn-lg"%>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "トップページへ戻る", root_path%>
  </div>
</div>