<%= render "shared/header" %>
<div class="container pt-5">
  <ul class="nav nav-tabs row">
    <li class="nav-item col">
      <%= link_to "Top", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item col">
      <a class="nav-link" href="#">Item</a>
    </li>
    <li class="nav-item col">
      <a class="nav-link active" aria-current="page" href="#">Order</a>
    </li>
    <li class="nav-item col">
      <%= link_to "Creator", creators_path, class: "nav-link"%>
    </li>
  </ul>
</div>
<div class="project-area container mt-4 mb-2">
  <div class="row align-items-start">
    <div class="col-4">
      New Order
    </div>
  </div>
</div>
<ul class="content-cards container">
  <% @orders.each do |n| %>
    <li class="card col m-3 item-card">      
      <div class="card-img">
        <%= image_tag n.main_order_image, class:"my-4 img-fluid " if n.main_order_image.attached? %>
      </div>
      <div class="card-body card-flame pe-4">
        <h4 class="card-title pb-3"><%= n.order_name %></h4>
        <h6 class="pb-3"><%= n.creator.creator_name %></h6>
        <h6 class="pb-3">￥<%= n.order_price_min %> ~ ￥<%= n.order_price_max %></h6>
        <%= link_to "詳細", "/orders/#{n.id}", class: "btn btn-primary" %>
      </div>
    </li>
  <% end %>
</ul>