<%= render "shared/header" %>
<div class="container pt-5">
  <ul class="nav nav-tabs row">
    <li class="nav-item col">
      <%= link_to "Top", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item col">
      <a class="nav-link" href="#">Item</a>
    </li>
    <li class="nav-item col">
      <%= link_to "Order", orders_path, class: "nav-link"%>
    </li>
    <li class="nav-item col">
      <a class="nav-link active" aria-current="page" href="#">Creator</a>
    </li>
  </ul>
</div>
<div class="creator-area container mt-4 mb-2">
  <div class="row align-items-start">
    <div class="col-4">
      All Creator
    </div>
  </div>
</div>
<ul class="content-cards container">
  <% @creators.each do |n| %>
    <li class="card col m-3 creator-card">      
      <div class="card-img">
        <%= image_tag n.image.variant(resize: '300x300'), class:"my-4 img-fluid " if n.image.attached? %>
      </div>
      <div class="card-body card-flame">
        <h5 class="card-title"><%= n.creator_name %></h5>
        <p class="card-in-text"><%= n.creator_short_text %></p>
        <%= link_to "詳細", "/creators/#{n.id}", class: "btn btn-primary" %>
      </div>
    </li>
  <% end %>
</ul>

