<div class="title-contents">
  <div class="header-logo m-3">
  <%= link_to root_path, class: "text-decoration-none link-dark" do %>
    <h1>Koogi<br>mart</h1>
  <% end %>
  </div>
</div>
<div class="my-page-header position-relative">
  <div class="avatar-area d-flex pt-3 justify-content-between">
    <h4 class="ms-3"><%= @creator.creator_name %><span class="fs-5">さんの</span>アトリエ</h4>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <% if user_signed_in? && current_user.id == @creator.user_id %>
        <%= link_to "オーダー作成", new_order_path, class: "btn btn-outline-success" %>
        <button type="button" class="btn btn-outline-success">作品出品</button>
        <%= link_to "アトリエ編集", edit_creator_path, class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</div>
<ul class="content-cards container">
  <% @orders.each do |n| %>
    <li class="card col m-3 item-card">      
      <div class="card-img">
        <%= image_tag n.main_order_image, class:"my-4 img-fluid " if n.main_order_image.attached? %>
      </div>
      <div class="card-body pe-4">
        <h4 class="card-title pb-3"><%= n.order_name %></h4>
        <h6 class="pb-3"><%= n.creator.creator_name %></h6>
        <h6 class="pb-3">￥<%= n.order_price_min %> ~ ￥<%= n.order_price_max %></h6>
        <%= link_to "詳細", "/orders/#{n.id}", class: "btn btn-primary" %>
      </div>
    </li>
  <% end %>
</ul>


