<%= render "shared/header" %>
<div class="container pt-5">
  <ul class="nav nav-tabs row">
    <li class="nav-item col">
      <a class="nav-link active" aria-current="page" href="#">Top</a>
    </li>
    <li class="nav-item col">
      <a class="nav-link" href="#">Item</a>
    </li>
    <li class="nav-item col">
      <a class="nav-link" href="#">Order</a>
    </li>
    <li class="nav-item col">
      <%= link_to "Creator", creators_path, class: "nav-link"%>
    </li>
  </ul>
</div>
<div class="item-area container mt-4 mb-2">
  <div class="row align-items-start">
    <div class="col-4">
      New Item
    </div>
  </div>
</div>
<ul class="content-cards container">
  <li class="card col m-3 item-card" style="width: 200px; height: 300px;">
    <img src="https://picsum.photos/200/150" class="card-img-top img-fluid" alt="sample">
    <div class="card-body">
      <h5 class="card-title">商品名</h5>
      <p class="card-text">価格</p>
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </li>
  <li class="card col m-3 item-card" style="width: 200px; height: 300px;">
    <img src="https://picsum.photos/200/150" class="card-img-top img-fluid" alt="sample">
    <div class="card-body">
      <h5 class="card-title">商品名</h5>
      <p class="card-text">価格</p>
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </li>
  <li class="card col m-3 item-card" style="width: 200px; height: 300px;">
    <img src="https://picsum.photos/200/150" class="card-img-top img-fluid" alt="sample">
    <div class="card-body">
      <h5 class="card-title">商品名</h5>
      <p class="card-text">価格</p>
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </li>
  <li class="card col m-3 item-card" style="width: 200px; height: 300px;">
    <img src="https://picsum.photos/200/150" class="card-img-top img-fluid" alt="sample">
    <div class="card-body">
      <h5 class="card-title">商品名</h5>
      <p class="card-text">価格</p>
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </li>
</ul>
<div class="project-area container mt-4 mb-2">
  <div class="row align-items-start">
    <div class="col-4">
      New Order
    </div>
  </div>
</div>
<ul class="content-cards container">
  <li class="card col m-3 project-card" style="width: 200px; height: 300px;">
    <img src="https://picsum.photos/200/150" class="card-img-top img-fluid" alt="sample">
    <div class="card-body">
      <h5 class="card-title">オーダー名</h5>
      <p class="card-text">説明</p>
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </li>
  <li class="card col m-3 project-card" style="width: 200px; height: 300px;">
    <img src="https://picsum.photos/200/150" class="card-img-top img-fluid" alt="sample">
    <div class="card-body">
      <h5 class="card-title">オーダー名</h5>
      <p class="card-text">説明</p>
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </li>
  <li class="card col m-3 project-card" style="width: 200px; height: 300px;">
    <img src="https://picsum.photos/200/150" class="card-img-top img-fluid" alt="sample">
    <div class="card-body">
      <h5 class="card-title">オーダー名</h5>
      <p class="card-text">説明</p>
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </li>
  <li class="card col m-3 project-card" style="width: 200px; height: 300px;">
    <img src="https://picsum.photos/200/150" class="card-img-top img-fluid" alt="sample">
    <div class="card-body">
      <h5 class="card-title">オーダー名</h5>
      <p class="card-text">説明</p>
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </li>
</ul>
<div class="creator-area container mt-4 mb-2">
  <div class="row align-items-start">
    <div class="col-6">
      Pic Up Creator
    </div>
  </div>
</div>
<ul class="content-cards container">
  <% @new_creators.each do |n| %>
    <li class="card col m-3 creator-card">      
      <div class="card-img">
        <%= image_tag n.image.variant(resize: '300x300'), class:"my-4 img-fluid " if n.image.attached? %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= n.creator_name %></h5>
        <p class="card-text"><%= n.creator_short_text %></p>
        <%= link_to "詳細", "/creators/#{n.id}", class: "btn btn-primary" %>
      </div>
    </li>
  <% end %>
</ul>
